body{
  background: #494C4D;
  color: pink;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h1{
  font-size: 54px;
}


li{
  list-style: none;
}
